.team {
    background: var(--brand-color-seven);
}

.team__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--brand-color-five);
}

.team__item {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team__list {
    width: 270px;
    background-color: var(--brand-color-three);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__cover {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-five);
}

.team__specialty {
    text-align: center;
    padding-bottom: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color-two);
}

.team-socialnet__link {
    color: var(--brand-color-nine);
    transition: all var(--transition);

        &:hover,
        &:focus {
            background-color: var(--brand-color);
            color: var(--brand-color-three);
        }
}

.socialnet__icon {
    fill: currentColor;
}